@import "tailwindcss";

body {
  /* Full-page soothing nature background */
  background-image: url('https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Ripple button effect */
.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple-button::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: scale(0);
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple-button:active::after {
  transform: scale(4);
  opacity: 1;
  transition: 0s;
}
